<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Home')}"></head>

<body class="bg-dark">
    <!-- Header -->
    <header>
        <nav th:replace="~{fragments/navBar :: navBar}"></nav>
    </header>
    <!-- Fine Header -->

    <!-- Main -->
    <main class="mb-5">
        <!-- Titolo -->
        <h1 class="text-center text-light my-5">Trova il tuo evento!</h1>
        <!-- Fine Titolo -->

        <!-- Container Principale -->
        <div class="container">
            <!-- Row Principale -->
            <div class="row">
                <!-- Col Controlli -->
                <div class="col col-4" th:if="${eventiEsistenti.size > 0}">

                    <!-- Card Controlli -->
                    <div class="card text-bg-dark border border-secondary">
                        <!-- Form Controlli -->
                        <form th:action="@{/home}" method="get">
                            <!-- Cerca -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col col-9">
                                        <input type="search" name="keyword" th:value="${keyword}"
                                            class="col col-8 form-control" placeholder="Cerca">
                                    </div>
                                    <div class="col col-3 d-flex justify-content-stretch">
                                        <button class="btn btn-outline-primary d-flex flex-fill justify-content-center"
                                            type="submit"><i class="bi bi-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <!-- Fine Cerca -->

                            <hr class="my-0">

                            <!-- Ordine -->
                            <div class="card-body">
                                <h6><i class="bi bi-filter"></i> Ordina per</h6>

                                <div class="row">
                                    <div class="col col-9 d-flex justify-content-around pt-2 form-check">
                                        <div>
                                            <input class="form-check-input" type="radio" name="order" id="radioNuovo"
                                                value="nuovo" th:checked="${order} == 'nuovo'">
                                            <label class="form-check-label" for="radioNuovo">Nuovo</label>
                                        </div>
                                        <div>
                                            <input class="form-check-input" type="radio" name="order" id="radioData"
                                            value="data" th:checked="${order} == 'data'">
                                            <label class="form-check-label" for="radioData">Data</label>
                                        </div>
                                        <div>
                                            <input class="form-check-input" type="radio" name="order" id="radioNome"
                                                value="nome" th:checked="${order} == 'nome'">
                                            <label class="form-check-label" for="radioNome">Nome</label>
                                        </div>
                                    </div>
                                    <div class="col col-3 d-flex justify-content-stretch">
                                        <button class="btn btn-outline-primary d-flex flex-fill justify-content-center"
                                            type="submit">Applica</button>
                                    </div>
                                </div>
                            </div>
                            <!-- Fine Ordine -->

                            <hr class="my-0">

                            <!-- Filtra -->
                            <div class="card-body">
                                <h6><i class="bi bi-sliders2"></i> Filtra per</h6>

                                <!-- Luogo -->
                                <label class="form-label" for="luogo"><i class="bi bi-globe-americas-fill"></i>
                                    Luogo</label>
                                <select id="luogo" class="form-select">
                                    <option selected="selected" value="">Seleziona un luogo</option>
                                    <option th:each="luogo : ${luoghi}" value="">[[${luogo}]]</option>
                                </select>
                                <!-- Fine Luogo -->

                                <!-- Data -->
                                <label class="form-label mt-3" for="data"><i class="bi bi-calendar2-week-fill"></i>
                                    Data</label>
                                <input type="date" id="data" class="form-control">
                                <!-- Fine Data -->

                                <!-- categoria -->
                                <label class="form-label mt-3" for="categoria"><i class="bi bi-bookmark-fill"></i>
                                    Categoria</label>
                                <select id="categoria" class="form-select">
                                    <option selected="selected" value="">Seleziona una categoria</option>
                                    <option th:each="categoria : ${categorie}" value="">[[${categoria.nome}]]
                                    </option>
                                </select>
                                <!-- Fine Categoria -->

                                <!-- Pulsanti -->
                                <div class="row">
                                    <!-- Reset -->
                                    <div class="col col-2 d-flex justify-content-stretch mt-4 ms-auto">
                                        <button class="btn btn-outline-danger d-flex flex-fill justify-content-center"
                                            type="reset"><i class="bi bi-arrow-clockwise"></i></button>
                                    </div>
                                    <!-- Fine Reset -->

                                    <!-- Submit -->
                                    <div class="col col-10 d-flex justify-content-stretch mt-4 ms-auto">
                                        <button class="btn btn-outline-primary d-flex flex-fill justify-content-center"
                                            type="submit">Filtra</button>
                                    </div>
                                    <!-- Fine Submit -->
                                </div>
                                <!-- Fine Pulsanti -->
                            </div>
                            <!-- Fine Filtra -->
                        </form>
                        <!-- Fine Form Controlli -->
                    </div>
                    <!-- Fine Card Controlli -->
                </div>
                <!-- Fine Col Controlli -->

                <!-- Table Col -->
                <div class="col col-8 mx-auto">
                    <div th:if="${eventiEsistenti.size() > 0}">

                        <!-- Srollable Wrapper Table -->
                        <div class="table-responsive" data-bs-theme="dark" style="max-height: 535px; overflow-y: auto;">
                            <!-- Table -->
                            <table class="table table-dark table-hover">
                                <thead class="sticky-top">
                                    <th>Nome evento</th>
                                    <th>Luogo</th>
                                    <th>Categoria</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr th:each="evento : ${eventiMostrati}" th:object="${evento}">
                                        <td>[[*{nome}]]</td>
                                        <td>[[*{luogo}]]</td>
                                        <td>[[*{categoria.nome}]]</td>
                                        <td>
                                            <div class="d-flex justify-content-end gap-1">
                                                <!-- Dettagli -->
                                                <button type="button" class="btn btn-sm btn-outline-light"
                                                    data-bs-toggle="modal"
                                                    th:data-bs-target="'#details-modal-' + *{id}">
                                                    <i class="bi bi-justify-left"></i> Dettagli
                                                </button>

                                                <!-- Modale -->
                                                <div class="modal fade" th:id="'details-modal-' + *{id}"
                                                    data-bs-backdrop="static" data-bs-theme="dark"
                                                    data-bs-keyboard="false" tabindex="-1"
                                                    aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-scrollable">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h1 class="modal-title fs-5" id="staticBackdropLabel">
                                                                    [[*{nome}]]
                                                                </h1>

                                                                <button type="button"
                                                                    class="btn btn-outline-danger ms-auto"
                                                                    data-bs-dismiss="modal" aria-label="Close"><i
                                                                        class="bi bi-x"></i></button>
                                                            </div>
                                                            <div class="modal-body text-start me-auto">

                                                                <!-- Categoria -->
                                                                <div class="text-light fw-medium fs-6 mb-1">Tipo di
                                                                    evento</div>
                                                                <div class="text-secondary fw-medium mb-3">
                                                                    [[*{categoria.nome}]]
                                                                </div>
                                                                <!-- Fine Categoria -->

                                                                <!-- Data / Ora -->
                                                                <div class="text-light fw-medium fs-6 mb-1">Data e ora
                                                                </div>
                                                                <div class="text-secondary fw-medium mb-3">[[*{data}]] |
                                                                    [[*{orarioDiInizio}]] - [[*{orarioDiFine}]]</div>
                                                                <!-- Fine Data / Ora -->

                                                                <!-- Luogo -->
                                                                <div class="text-light fw-medium fs-6 mb-1">Luogo</div>
                                                                <div class="text-secondary mb-3 fw-medium">[[*{luogo}]]
                                                                </div>
                                                                <!-- Fine Luogo -->

                                                                <!-- Descrizione -->
                                                                <div class="text-light fw-medium fs-6 mb-1">Descrizione
                                                                </div>
                                                                <div class="text-secondary fw-medium">[[*{descrizione}]]
                                                                </div>
                                                                <!-- Fine Descrizione -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Fine Modale -->
                                                <!-- Fine Dettagli -->
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- Fine Table -->

                        <!-- Elemento sostitutivo Corrispondenze -->
                        <div class="text-secondary text-center mt-5 rounded border border-secondary py-3 col-6 mx-auto"
                            th:unless="${eventiMostrati.size > 0}">
                            <h3>Nessuna corrispondenza</h3>
                            <i class="bi bi-emoji-dizzy fs-1"></i>
                        </div>
                        <!-- Fine Elemento sostitutivo Corrispondenze -->
                    </div>
                </div>
                <!-- Fine Table Col -->
            </div>
            <!-- Fine Row Principale -->

            <!-- Elemento Sostitutivo Eventi -->
            <div th:unless="${eventiEsistenti.size > 0}">
                <div class="text-center text-danger rounded border border-danger col-9 mx-auto py-3">
                    <h2>
                        Oops! sembra che non ci siano eventi in questo momento.
                    </h2>
                    <i class="bi bi-emoji-dizzy fs-1"></i>
                </div>

                <div class="text-center mt-4">
                    <a th:href="@{/eventi/crea}" class="btn btn-lg btn-outline-light">Crea un evento</a>
                </div>
            </div>
            <!-- Fine Elemento Sostitutivo Eventi -->
        </div>
        <!-- Fine Container Principale -->
    </main>
    <!-- Fine Main -->

    <!-- Popper Js -->
    <script th:replace="~{fragments/popper :: popper}"></script>
    <!-- End Popper JS -->
</body>

</html>