<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Gestione eventi')}"></head>

<body class="bg-dark">
    <!-- Header -->
    <header>
        <nav th:replace="~{fragments/navBar :: navBar}"></nav>
    </header>
    <!-- Fine Header -->

    <!-- Main -->
    <main>
        <!-- Titolo -->
        <h1 class="text-center text-light mt-5 mb-4">
            <i class="bi bi-gear-fill"></i> Gestione eventi
        </h1>
        <!-- Fine Titolo -->

        <!-- Container Principale -->
        <div class="container">

            <!-- Row Principale -->
            <div class="row">

                <!-- Col Controlli -->
                <div class="col col-4" th:if="${eventiEsistenti.size > 0}">

                    <!-- Card Controlli -->
                    <div class="card text-bg-dark border border-secondary">

                        <!-- Aggiungi Evento -->
                        <div class="card-body">

                            <a th:href="@{/eventi/crea}"
                                class="btn btn-primary d-flex flex-fill justify-content-center">
                                Aggiungi evento +
                            </a>
                        </div>
                        <!-- Fine Aggiungi Evento -->

                        <hr class="my-0">

                        <!-- Form Controlli -->
                        <form th:action="@{/eventi}" method="get">

                            <!-- Cerca -->
                            <div class="card-body">
                                <div class="row">

                                    <div class="col col-9">
                                        <input type="search"
                                            name="keyword"
                                            th:value="${keyword}"
                                            class="col col-8 form-control"
                                            placeholder="Cerca">
                                    </div>

                                    <div class="col col-3 d-flex justify-content-stretch">
                                        <button class="btn btn-outline-primary d-flex flex-fill justify-content-center"
                                            type="submit">
                                            <i class="bi bi-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- Fine Cerca -->

                            <hr class="my-0">

                            <!-- Ordine -->
                            <div class="card-body">

                                <h6>
                                    <i class="bi bi-filter"></i> Ordina per
                                </h6>

                                <div class="row">

                                    <div class="col col-9 d-flex justify-content-around pt-2 form-check">

                                        <div>
                                            <input class="form-check-input"
                                                type="radio"
                                                name="order"
                                                id="radioNuovo"
                                                value="nuovo"
                                                th:checked="${order} == 'nuovo'">

                                            <label class="form-check-label" for="radioNuovo">Nuovo</label>
                                        </div>

                                        <div>
                                            <input class="form-check-input"
                                                type="radio"
                                                name="order"
                                                id="radioData"
                                                value="data"
                                                th:checked="${order} == 'data'">

                                            <label class="form-check-label" for="radioData">Data</label>
                                        </div>

                                        <div>
                                            <input class="form-check-input"
                                                type="radio"
                                                name="order"
                                                id="radioNome"
                                                value="nome"
                                                th:checked="${order} == 'nome'">

                                            <label class="form-check-label" for="radio1">Nome</label>
                                        </div>
                                    </div>

                                    <div class="col col-3 d-flex justify-content-stretch">
                                        <button class="btn btn-outline-primary d-flex flex-fill justify-content-center"
                                            type="submit">
                                            Applica
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- Fine Ordine -->

                            <hr class="my-0">

                            <!-- Filtra -->
                            <div class="card-body">

                                <div class="d-flex justify-content-between">
                                    <h6>
                                        <i class="bi bi-sliders2"></i> Filtra per
                                    </h6>

                                    <div class="text-secondary fw-medium">
                                        [[${eventiMostrati.size()}]] Risultati
                                    </div>
                                </div>

                                <!-- Luogo -->
                                <label class="form-label" for="luogo">
                                    <i class="bi bi-globe-americas-fill"></i>
                                    Luogo
                                </label>

                                <select id="luogo" name="luogo" class="form-select">

                                    <option selected="selected" value="">
                                        Tutti i luoghi
                                    </option>

                                    <option th:each="luogoCorrente : ${luoghi}"
                                        th:value="${luogoCorrente}"
                                        th:selected="${luogoCorrente == luogo}">
                                        [[${luogoCorrente}]]
                                    </option>
                                </select>
                                <!-- Fine Luogo -->

                                <!-- Data -->
                                <label class="form-label mt-3" for="data">
                                    <i class="bi bi-calendar2-week-fill"></i> Data
                                </label>

                                <input type="date"
                                    name="data"
                                    id="data"
                                    th:value="${data}"
                                    class="form-control">
                                <!-- Fine Data -->

                                <!-- categoria -->
                                <label class="form-label mt-3" for="categoria">
                                    <i class="bi bi-bookmark-fill"></i> Categoria
                                </label>

                                <select id="categoria" name="categoriaId" class="form-select">
                                    
                                    <option selected="selected" value="">
                                        Tutte le categorie
                                    </option>

                                    <option th:each="categoriaCorrente : ${categorie}"
                                        th:value="${categoriaCorrente.id}"
                                        th:selected="${categoriaCorrente.id == categoriaId}">
                                        [[${categoriaCorrente.nome}]]
                                    </option>
                                </select>
                                <!-- Fine Categoria -->

                                <!-- Submit -->
                                <div class="d-flex justify-content-stretch mt-4 gap-3 ms-auto">

                                    <!-- Reset -->
                                    <a th:href="@{/eventi}" class="btn btn-outline-danger">
                                        <i class="bi bi-arrow-counterclockwise"></i>
                                    </a>
                                    <!-- Fine Reset -->

                                    <!-- Filtra -->
                                    <button class="btn btn-outline-primary d-flex flex-fill justify-content-center"
                                        type="submit">
                                        Filtra
                                    </button>
                                    <!-- Fine Filtra -->
                                </div>
                                <!-- Fine Submit -->
                            </div>
                            <!-- Fine Filtra -->
                        </form>
                        <!-- Fine Form Controlli -->
                    </div>
                    <!-- Fine Card Controlli -->
                </div>
                <!-- Fine Row Controlli -->

                <!-- Table Col -->
                <div class="col col-8 mx-auto">

                    <div th:if="${eventiEsistenti.size() > 0}">

                        <!-- Srollable Wrapper Table -->
                        <div class="table-responsive" data-bs-theme="dark" style="max-height: 608px; overflow-y: auto;">

                            <!-- Table -->
                            <table class="table table table-dark table-hover" th:if="${eventiEsistenti.size > 0}">

                                <thead class="sticky-top">
                                    <th>Nome evento</th>
                                    <th>Luogo</th>
                                    <th>Categoria</th>
                                    <th class="text-end">Azioni</th>
                                </thead>

                                <tbody>
                                    <tr th:each="evento : ${eventiMostrati}" th:object="${evento}">
                                        <td>[[*{nome}]]</td>
                                        <td>[[*{luogo}]]</td>
                                        <td>[[*{categoria.nome}]]</td>
                                        <td>
                                            <div class="d-flex justify-content-end gap-1">

                                                <!-- Dettagli -->
                                                <button type="button"
                                                    class="btn btn-sm btn-outline-light"
                                                    data-bs-toggle="modal"
                                                    th:data-bs-target="'#details-modal-' + *{id}">

                                                    <i class="bi bi-justify-left"></i>
                                                </button>

                                                <!-- Modale Dettagli -->
                                                <div class="modal fade"
                                                    th:id="'details-modal-' + *{id}"
                                                    data-bs-backdrop="static"
                                                    data-bs-theme="dark"
                                                    data-bs-keyboard="false"
                                                    tabindex="-1"
                                                    aria-labelledby="staticBackdropLabel"
                                                    aria-hidden="true">

                                                    <div class="modal-dialog modal-dialog-scrollable">
                                                        <div class="modal-content">

                                                            <!-- Header Modale Dettagli -->
                                                            <div class="modal-header">
                                                                <h1 class="modal-title fs-5" id="staticBackdropLabel">
                                                                    [[*{nome}]]

                                                                    <br>

                                                                    <span class="fs-6 fw-medium">
                                                                        Di
                                                                        <span class="text-secondary">
                                                                            [[*{creatore.username}]]
                                                                        </span>
                                                                    </span>
                                                                </h1>

                                                                <button type="button"
                                                                    class="btn btn-outline-danger ms-auto"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close">
                                                                    <i class="bi bi-x"></i>
                                                                </button>
                                                            </div>
                                                            <!-- Fine Header Modale Dettagli -->

                                                            <!-- Body Modale Dettagli -->
                                                            <div class="modal-body text-start me-auto">

                                                                <!-- Categoria -->
                                                                <div class="text-light fw-medium fs-6 mb-1">
                                                                    Tipo di evento
                                                                </div>

                                                                <div class="text-secondary fw-medium mb-3">
                                                                    [[*{categoria.nome}]]
                                                                </div>
                                                                <!-- Fine Categoria -->

                                                                <!-- Data / Ora -->
                                                                <div class="text-light fw-medium fs-6 mb-1">
                                                                    Data e ora
                                                                </div>

                                                                <div class="text-secondary fw-medium mb-3">
                                                                    [[*{data}]] | [[*{orarioDiInizio}]] - [[*{orarioDiFine}]]
                                                                </div>
                                                                <!-- Fine Data / Ora -->

                                                                <!-- Luogo -->
                                                                <div class="text-light fw-medium fs-6 mb-1">
                                                                    Luogo
                                                                </div>

                                                                <div class="text-secondary mb-3 fw-medium">
                                                                    [[*{luogo}]]
                                                                </div>
                                                                <!-- Fine Luogo -->

                                                                <!-- Descrizione -->
                                                                <div class="text-light fw-medium fs-6 mb-1">
                                                                    Descrizione
                                                                </div>

                                                                <div class="text-secondary fw-medium">
                                                                    [[*{descrizione}]]
                                                                </div>
                                                                <!-- Fine Descrizione -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Fine Modale Dettagli -->
                                                <!-- Fine Dettagli -->

                                                <!-- Modifica -->
                                                <a th:href="@{|/eventi/*{id}/modifica|}"
                                                    class="btn btn-sm btn-outline-primary">
                                                    <i class="bi bi-pencil-fill"></i>
                                                </a>
                                                <!-- Fine Modifica -->

                                                <!-- Elimina -->
                                                <button type="button"
                                                    class="btn btn-sm btn-outline-danger"
                                                    data-bs-toggle="modal"
                                                    th:data-bs-target="'#delete-modal-' + *{id}">
                                                    <i class="bi bi-trash-fill"></i>
                                                </button>

                                                <!-- Modale Elimina -->
                                                <div class="modal fade"
                                                    th:id="'delete-modal-' + *{id}"
                                                    data-bs-backdrop="static"
                                                    data-bs-theme="dark"
                                                    data-bs-keyboard="false"
                                                    tabindex="-1"
                                                    aria-labelledby="staticBackdropLabel"
                                                    aria-hidden="true">

                                                    <div class="modal-dialog modal-dialog-scrollable">
                                                        <div class="modal-content">

                                                            <!-- Header Modale Elimina -->
                                                            <div class="modal-header">
                                                                <h1 class="modal-title fs-5 text-danger"
                                                                    id="staticBackdropLabel">
                                                                    <i class="bi bi-trash-fill"></i> Elimina evento
                                                                </h1>
                                                            </div>
                                                            <!-- Fine Header Modale Elimina -->

                                                            <!-- Body Modale Elimina -->
                                                            <div class="modal-body me-auto">
                                                                Sei sicuro di voler eliminare l'evento: "[[*{nome}]]"?
                                                            </div>
                                                            <!-- Fine Body Modale Elimina -->

                                                            <!-- Footer Modale Elimina -->
                                                            <div class="modal-footer">

                                                                <button type="button"
                                                                    class="btn btn-outline-light me-auto"
                                                                    data-bs-dismiss="modal">
                                                                    Annulla
                                                                </button>

                                                                <form th:action="@{|/eventi/*{id}/elimina|}"
                                                                    method="post">
                                                                    <button type="submit"
                                                                        class="btn btn-outline-danger">
                                                                        Elimina</i>
                                                                    </button>
                                                                </form>
                                                            </div>
                                                            <!-- Finr Footer Modale Elimina -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Fine Modale Elimina -->
                                                <!-- Fine Elimina -->
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- Fine Table -->
                        </div>
                        <!-- Srollable Wrapper Table -->

                        <!-- Elemento sostitutivo Corrispondenze -->
                        <div class="text-secondary text-center mt-5 rounded border border-secondary py-3 col-6 mx-auto"
                            th:unless="${eventiMostrati.size > 0}">

                            <h3>Nessuna corrispondenza</h3>
                            
                            <i class="bi bi-emoji-dizzy fs-1"></i>
                        </div>
                        <!-- Fine Elemento sostitutivo Corrispondenze -->
                    </div>
                </div>
                <!-- Fine Table Col -->
            </div>
            <!-- Fine Row Principale -->

            <!-- Elemento Sostitutivo Eventi -->
            <div th:unless="${eventiEsistenti.size > 0}">
                <div class="text-center text-danger rounded border border-danger col-9 mx-auto py-3">
                    <h2>
                        Oops! sembra che non ci siano eventi in questo momento.
                    </h2>
                    <i class="bi bi-emoji-dizzy fs-1"></i>
                </div>

                <div class="text-center mt-4">
                    <a th:href="@{/eventi/crea}" class="btn btn-lg btn-outline-light">
                        Crea un evento
                    </a>
                </div>
            </div>
            <!-- Fine Elemento Sostitutivo Eventi -->
        </div>
        <!-- Fine Container Principale -->
    </main>
    <!-- Fine Main -->

    <!-- Popper Js -->
    <script th:replace="~{fragments/popper :: popper}"></script>
    <!-- End Popper JS -->
</body>

</html>